html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav{
    width: 100%;
    height: 10%;
    background-color:#fff;
}

.nav > h3 {
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.ul_nav{
    display: inline-block;
    list-style: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

.ul_nav > li {
    display: inline-block;
    white-space: normal;
    margin: 0 20px 0 0;
}

.left_nav {
    width: 20%;
    height: 87%;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.search {
    width: 100%;
    height: 5%;
    padding: 2px;
    margin:0px 0px 20px 0px;
    background-color: blue;
}

.search_field {
    width: 60%;
    height: 100%;
    margin: 0px 0px 0px 1px;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 25px;
}

.submit_btn {
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 25px;
}

.ul_leftnav > li {
    margin: 5px;
    list-style-type: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: x-large;
}

